{% extends 'employees/base.html' %}
{% block body %}

<br/>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header text-white bg-info">
                        <h4 class="card-title">CREATE NEW EMPLOYEE</h4>
                    </div>
                    <div class="card-body" style="height: 500px; overflow-y: auto;">  <!-- Added height and scrollbar -->
                    <form action="{% url 'Employees:add' %}" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="name" class="form-label">Employee_name:</label>
                        <input type="text" class="form-control" id="name" placeholder="Enter name" name="name">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email:</label>
                        <input type="text" class="form-control" id="email" placeholder="Enter email" name="email">
                    </div>
                    <div class="mb-3">
                        <label for="department" class="form-label">Department:</label>
                        <select class="form-control" id="department" name="department">
                            <option value="HR">HR</option>
                            <option value="Engineering">Engineering</option>
                            <option value="Sales">Sales</option>
                            <option value="Accounts">Accounts</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="role" class="form-label">Role:</label>
                        <select class="form-control" id="role" name="role">
                            <option value="Manager">Manager</option>
                            <option value="Developer">Developer</option>
                            <option value="Analyst">Analyst</option>
                            <option value="Customer Executive">Customer Executive</option>
                        </select>
                    </div>
                   
                   <button type="submit" class="btn btn-dark w-100">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>            

{% endblock %}