<div class="container">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td class="bg-primary">username:</td>
                                    <td class="p-3 mb-2 bg-light text-dark">{{user.username}}</td>
                                </tr>
                                <tr>
                                    <td class="bg-primary">Photo:</td>
                                    <td><img src="{{user.profile.image.url}}"></td>
                                </tr>
                                <tr>
                                    <td class="bg-primary">Location:</td>
                                    <td class="p-3 mb-2 bg-light text-dark">{{user.profile.location}}</td>
                                </tr>
                            </tbody>
                            </table>
</div>                                
                              